<div class="cintainer">
  <div class= "row">
    <div class="col-md-3">
     <%= render 'users/list', user: @user %>
     <%= render 'books/list', book: @book_new %>
    </div>
    <div class ="col-md-8">
     <table class="table-striped">
     <h4>Book detail</h4>
       <table class="table">
        <tbody>
         <tr>
          <td>
            <%= attachment_image_tag @book.user,:profile_image,:fill, 60, 60, fallback: "no_image.jpg" %>
            <% link_to user_path(@book.user) do%>
             <%= @book.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book) do %>
             <%= @book.title %>
            <%end%>
          </td>
           <td><%= @book.body %></td>

          <% if @book.user == current_user %>
            <td><%= link_to edit_book_path(@book) do %>
              <a class="btn btn-sm btn-success">Edit</a>
                <%end%>
            </td>
            <td><%= link_to book_path(@book), method: :delete do %>
            <a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger">Destroy</a>
               <%end%>
            </td>
          <% end %>
          </tr>
         </tbody>
        </table>
     </div>
     </table>
    </div>
  </div>
 </div>